* {
	background-color: #252525;
	color: aliceblue;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin: 2rem;
}
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
button {
	padding: 2rem;
	background-color: #282c34;
	color: aliceblue;
	cursor: pointer;
	border: 1px solid #282c34;
}
